# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
*.egg-info/

# Environments
env/

# Pycharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Files
*.png
*.mp3
*.wav

# Config files
*.ini

# Folders
genre/
presentation/
cluster/
distance/
fourier_series_json/
more_songs/

# Developper test
test.py
